.content-question {
    display: none;
    width: 100%;
    height: max(90%, fit-content);
    flex-direction: column;
    background-color: rgba(233, 185, 185, 0.96);
    place-content: center;
    align-items: center;
    justify-content: center1;

}

.content-question-ask {
    display: flex;
    font-size: 3cqw;
    place-content: center;
    width: 100%;
    height: fit-content;
}

.content-question-options {
    flex-direction: column;
    width: 100%;
    font-size: 1.2em;
}

.content-question-options-each {
    padding-top: 12px;
    flex-direction: row;
}
.content-question-options-each-correct {
    color: green;
}
.content-question-options-each-wrong {
    color:red;
}
.content-question-options-each-input {
    flex-wrap: wrap;
    place-content: center;
}
.content-question-options-each-input input {
    width: 15px;
    height: 15px;
    padding-left: 2%;
}

.content-question-button {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: fit-content;
    place-content: center;
}

.content-question-button-hover {
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.content-question-button-back {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 3em;
    left: 2%;
}

.content-question-button-back button {
    width: 50%;
    height: 100%;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.2);

}

.content-question-button-back-forward-hover {
    &:hover {
        background-color: white;
        cursor: pointer;
    }
}

.content-question-button-forward {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 3em;
    right: 2%;
}

.content-question-button-forward button {
    width: 50%;
    height: 100%;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.2);

}

.content-question-button-press {

    width: 30%;
    height: 3em;
    border-radius: 20px;
}

.content-question-progress {
    width: 99%;
    background-color: white;
    height: 20px;
}

.content-question-progress-bar {
    height: 100%;
    background-color: greenyellow;
    width: 0%;
}

.content-question-explanation {
    margin-top: 4%;
    flex-direction: column;
    width: 100%;
}

.content-question-explanation-title {
    font-size: 1.3em;
    padding-left: 0.5em;
}

.content-question-explanation-body {
    padding-left: 0.8em;
    margin-top: 3%;
}

@media (min-width:768px) {
    
}